<div style="text-align: center">
  <% if flash[:alert] %>
    <div style="color: red"><%= flash[:alert] %></div>
  <% end %>
  <%= form_with(url: convert_path, method: 'get', local: true) do %>
    <%= label_tag :amount, 'USD amount '%>
    <%= number_field_tag :amount, '0'%>
    <%= label_tag :currency, ' To '%>
    <%= select_tag(:currency, options_for_select(@currency_types, 'CAD')) %>
    <%= button_tag 'Convert' %>
  <% end %>
</div>